# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# dotenv environment variables file
.env
.env.test

########
# ExpressJS 
########

# OS X
.DS_Store*
# Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules/
package-lock.json
*.log
*.gz


# Coveralls
coverage/

# Benchmarking
benchmarks/graphs/

# temp upload
temp_upload/


# Gitignore for vueJS front-end
# front-end/.DS_Store
# front-end/Thumbs.db
# front-end/db.json
# front-end/*.log
# front-end/node_modules/
# front-end/public/
# front-end/.deploy*/
# front-end/src/_drafts
# front-end/package-lock.json
front-end/yarn.lock
